<div th:fragment="header">

    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-white">Сорудники</a></li>
                    <li><a href="/worker/" class="nav-link px-2 text-white">Работники</a></li>
                    <li><a href="/client/" class="nav-link px-2 text-white">Клиенты</a></li>
                    <li><a href="/service/" class="nav-link px-2 text-white">Услуги</a></li>
                    <li><a href="/subscription/" class="nav-link px-2 text-white">Абонимент</a></li>
                    <li><a href="/subscriptionsale/" class="nav-link px-2 text-white">Проданные абонименты</a></li>
                    <li><a href="/trainingschedule/" class="nav-link px-2 text-white">График тренровок</a></li>
                </ul>

                <div class="text-end">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Выйти из профиля" class="btn btn-warning"/>
                    </form>
                </div>
            </div>
        </div>
    </header>

</div>