
table, th, td {
    border:1px solid black;
}
th,td{
    padding-left: 20px;
    padding-right: 20px;
}

table{
    margin-right: 40px;
}

.div-margin{
    padding: 20px;
}

.div-input-search{
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
